python-multipart
opencv-python-headless
llama-index==0.12.11
llama-index-embeddings-huggingface==0.4.0
llama-index-llms-openai==0.3.13
fastapi==0.115.6
uvicorn==0.34.0
transformers==4.48.0
pydub==0.25.1
ffmpeg-python==0.2.0
google-cloud-vision==3.9.0
google-api-python-client==2.156.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
yt-dlp
huggingface_hub
openai==1.59.7
langchain==0.3.14
